/* pencil_font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* crayon font */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html, body {
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;

    font-family: "Cabin Sketch", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: white;

}

button {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    background: none;
    border: none;
}

.player_name_input {
    font-family: inherit;
}

.player_1_win_count,
.player_2_win_count,
.draws_count {
    margin-bottom: 5px;
}

#tooltip_div {
    visibility: hidden;

    position: absolute;
    z-index: 1;

    background-color: rgb(247, 247, 168);
    border: solid 1px black;
    padding: 2px 5px;

    font-family: inherit;
    font-weight: normal;

    color: black;
}
.player_1_win_count:hover~#tooltip_div,
.player_2_win_count:hover~#tooltip_div {
    visibility: visible;
}

.toggle_matches_table_button {
    margin-top: 10px;
}

h1 {
    margin-top: 0;
}

.background_image {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.toggle_game_board_button {
    position: fixed;
    top: 10px;
    left: 10px;
}

.game_container {
    display: flex;

    flex-grow: 1;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.board_container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 1fr);

    gap: 15px;

    /* background-image: url("../images/game_lines_pencil.png"); */
    background-image: url("../images/game_lines_crayon.png");
    background-position: center;

    margin-top: 15px;
}

.win_line, .win_side_line {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    visibility: hidden;
    pointer-events: none;
}

.row_0_0 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.row_0_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.row_0_2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.row_1_0 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.row_1_1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.row_1_2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.row_2_0 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.row_2_1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.row_2_2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.board_space {
    display: flex;
    align-items: center;
    justify-content: center;

    /* justify-self: center; */

    height: 100px;
    width: 100px;

    border: 2px solid rgba(0, 0, 0, 0);

    /* background-color: aquamarine; */
}

.crayon_style .board_space {
    font-size: 10ch;
}
.pen_style .board_space {
    font-size: 15ch;
}

.board_space:hover {
    border: 2px dashed;
}

.pen_style[data-="blue"] .board_space:hover {
    border-color: blue;
}

.pen_style[data-="red"] .board_space:hover {
    border-color: red;
}

.crayon_style .board_space:hover {
    border-color: white;
}

.pen_style .board_space {
    /* font-family: sans-serif; */
    font-family: "Indie Flower", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.crayon_style .board_space {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pen_style .board_space[name="x"] {
    color: red;

}
.pen_style .board_space[name="o"] {
    color: blue;
}

.crayon_style {
    color: white;
}

.reset_match_button {
    border: 2px solid rgba(255, 243, 243, 0);
}

.crayon_button:hover {
    border: 2px white;
    border-style: groove;
}

.pen_button:hover {
    border: 2px blue;
    border-style: groove;
}


th, td {
    padding: 2px 10px;
}

td {
    text-align: center;
}

.pen_table .td_x {
    color: red;
}

.pen_table .td_draw {
    color: black;
}

table {
    visibility: hidden;
}

.score_container {
    position: fixed;
    top: 50px;
    left: 10px;
}

.photo_link_container {
    font-family: inherit;
    color: inherit;

    position: absolute;
    right: 10%;
    bottom: 5%;

    border-radius: 5px;

    padding: 3px;
}

.crayon_link {
    background-color: black;
}

.photo_link,
.photographer_link {
    font-family: inherit;
    color: inherit;
}
